[access]
	inheritFrom = All-Projects
[project]
	description = Persistence Store Service
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-persistence-committers
	read = group Anonymous Users
	read = group Registered Users
	forgeAuthor = group ldap/gerrit-persistence-committers
[access "refs/for/refs/*"]
	push = group Registered Users
[access "refs/heads/*"]
	create = group Non-Interactive persistence users
	forgeAuthor = group Non-Interactive persistence users
	forgeCommitter = group Non-Interactive persistence users
	pushMerge = group Non-Interactive persistence users
	label-Code-Review = -2..+2 group ldap/gerrit-persistence-committers
	label-Code-Review = -1..+1 group Non-Interactive persistence users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive persistence users
	label-Verified = -1..+1 group ldap/gerrit-persistence-committers
	submit = group ldap/gerrit-persistence-committers
[access "refs/tags/*"]
	create = group ldap/gerrit-persistence-committers
	push = group Non-Interactive persistence users
	push = group ldap/gerrit-persistence-committers
	pushTag = group Non-Interactive persistence users
	pushTag = group ldap/gerrit-persistence-committers
